# Test files
main_test.go
test_main.go

# Executable
main

# Configuration files
.prettierrc
.air.toml
.env.example

# Version control
.git
.gitignore

# Docker files
docker-compose.yml
Dockerfile

# Documentation
README.md
docs/*

# Temporary and uploaded files
uploads/*
tmp/*